/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/*
Grid 1200px
Nicolas Poliquin
polikin.ca
*/

/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
	*/

.columns, .column { 	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	}

/* #Base 1200 Grid
================================================== */
	.container { 
		position: relative; 
		width: 1200px; 
		margin: 0 auto; 
		padding: 0; 
		}
		
    .container .column, .container .columns  { 
		float: left; 
		display: inline; 
		margin-left: 10px; 
		margin-right: 10px; 
		}
		
    .row { 
		margin-bottom: 20px; 
		}

	/* Nested Column Classes */
    .column.alpha, .columns.alpha { 
		margin-left: 0; 
		}
		
    .column.omega, .columns.omega { 
		margin-right: 0; 
		}

    /* Base Grid */
	.container .one.column,
    .container .one.columns                     { width: 55px;  }
    .container .two.columns                     { width: 120px; }
    .container .three.columns                 { width: 205px; }
    .container .four.columns                   { width: 280px; }
    .container .five.columns                   { width: 355px; }
    .container .six.columns                     { width: 430px; }
    .container .seven.columns                 { width: 505px; }
    .container .eight.columns                 { width: 580px; }
    .container .nine.columns                   { width: 655px; }
    .container .ten.columns                     { width: 730px; }
    .container .eleven.columns               { width: 805px; }
    .container .twelve.columns               { width: 880px; }
    .container .thirteen.columns           { width: 955px; }
    .container .fourteen.columns           { width: 1030px; }
    .container .fifteen.columns             { width: 1105px; }
    .container .sixteen.columns             { width: 1180px; }
	.container .one-third.column           { width: 380px; }
    .container .two-thirds.column         { width: 780px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 75px;  }
    .container .offset-by-two                   { padding-left: 140px; }
    .container .offset-by-three                 { padding-left: 225px; }
    .container .offset-by-four                  { padding-left: 300px; }
    .container .offset-by-five                  { padding-left: 375px; }
    .container .offset-by-six                   { padding-left: 430px; }
    .container .offset-by-seven                 { padding-left: 525px; }
    .container .offset-by-eight                 { padding-left: 600px; }
    .container .offset-by-nine                  { padding-left: 675px; }
    .container .offset-by-ten                   { padding-left: 750px; }
    .container .offset-by-eleven                { padding-left: 825px; }
    .container .offset-by-twelve                { padding-left: 900px; }
    .container .offset-by-thirteen              { padding-left: 975px; }
    .container .offset-by-fourteen              { padding-left: 1050px; }
    .container .offset-by-fifteen               { padding-left: 1125px; }
	
    .home h3 { 
		margin-top: 15%; 
		font-size: 100px;  
		line-height: 80px;
	}
		
	.position {
		font-size: 50px; 
		padding: 0px 5px 0px 5px;
	}

	.home-background .bulb-light{
		left: 40%;
		top: 60%;
	}

	.home-background .bulb-light img{
		max-width: 256px;
		width: 45%;
	}

	.about-me h2 { 	
		
	}

	.about-me h3 { 
		
	}	
	
	.about-me p { 
		/*font-size: 25px;*/
		/*font-weight: normal;
		line-height: 1.5;
		color: rgb(46,46,46);
		text-align: justify;
		margin: 10px auto;
		padding: 10px 100px 10px 100px;*/
	}
		
	.resume a{
		
	}

	#resume h2 {
		
	}

	.resume h3 {
		
	}

	.resume h4 {
		

	}

	.resume p {
		
	}
		
	.title {
		
	}

	#contact { 
		width: 100%;
		height: auto;
		background:#222;
		margin: 20px auto 0 auto;
		padding: 0px 0px 20px 0px; 
		float: left;		
	}
	
	.contact-header { 
		padding-bottom: 10px;
	}

	.contact-header h2 { 
		/*border:solid 1px red;*/
		font-size: 36px;
		margin: 50px 0px 0px 5px;
		padding: 10px 0px 40px 20px; 
	}

	#contact input, #contact textarea {
		width: 50%;
		font-size: 1.0em; 
		padding: 12px 0 12px 0;
		background: #555555;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		}


/* Note: Menu Colapse for a width of 1340px 
================================================== */
	@media only screen and (min-width: 1199px) and (max-width: 1340px) {
	
		.collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}


	}
	
/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }
		.container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
		.project { width: 256px; } 
		
		.home h3 { 
			margin-top: 16%; 
			font-size: 90px;  
			}
		
		.position {
			font-size: 28px; 
			}
		 
		 .collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}
	}

/* Note: Design for a width 1024 Desktop
================================================== */

	@media only screen and (min-width: 960px) and (max-width: 1199px) {
        /* Base Grid */
		.container                                  { width: 960px; }
	    .container .one.column,
	    .container .one.columns                     { width: 40px;  }
	    .container .two.columns                     { width: 100px; }
	    .container .three.columns                   { width: 160px; }
	    .container .four.columns                    { width: 220px; }
	    .container .five.columns                    { width: 280px; }
	    .container .six.columns                     { width: 340px; }
	    .container .seven.columns                   { width: 400px; }
	    .container .eight.columns                   { width: 460px; }
	    .container .nine.columns                    { width: 520px; }
	    .container .ten.columns                     { width: 580px; }
	    .container .eleven.columns                  { width: 640px; }
	    .container .twelve.columns                  { width: 700px; }
	    .container .thirteen.columns                { width: 760px; }
	    .container .fourteen.columns                { width: 820px; }
	    .container .fifteen.columns                 { width: 880px; }
	    .container .sixteen.columns                 { width: 940px; }

	    .container .one-third.column                { width: 300px; }
	    .container .two-thirds.column               { width: 620px; }

	    /* Offsets */
	    .container .offset-by-one                   { padding-left: 60px;  }
	    .container .offset-by-two                   { padding-left: 120px; }
	    .container .offset-by-three                 { padding-left: 180px; }
	    .container .offset-by-four                  { padding-left: 240px; }
	    .container .offset-by-five                  { padding-left: 300px; }
	    .container .offset-by-six                   { padding-left: 360px; }
	    .container .offset-by-seven                 { padding-left: 420px; }
	    .container .offset-by-eight                 { padding-left: 480px; }
	    .container .offset-by-nine                  { padding-left: 540px; }
	    .container .offset-by-ten                   { padding-left: 600px; }
	    .container .offset-by-eleven                { padding-left: 660px; }
	    .container .offset-by-twelve                { padding-left: 720px; }
	    .container .offset-by-thirteen              { padding-left: 780px; }
	    .container .offset-by-fourteen              { padding-left: 840px; }
	    .container .offset-by-fifteen               { padding-left: 900px; }
			
		.home h3 { 
			margin-top: 180px; 
			}
			
		.collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}
    }

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width from 50 to 349 */

    @media only screen and (min-width: 50px) and (max-width: 349px) {
        .container { width: 300px;}
        
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

		.home h3 { 
			margin-top: 45%; 
			font-size: 30px;  
			line-height: 24px;
		}
		
		.position {
			font-size: 13px; 
			padding: 0px 5px 0px 5px;
		 }

		.home-background .bulb-light{
			left: 35%;
			top: 40%;
		}

		.home-background .bulb-light img{
			max-width: 256px;
			width: 45%;
		}

		.about-me h2 { 
			font-size: 30px; 		
			line-height: 1;
			font-weight: bold;
			padding: 0px 40px 0px 40px;
		}

		.about-me h3 { 
			font-size: 15px; 
			font-weight: bold; 
			line-height: 1;
			padding: 0px 40px 0px 40px;
		}	
	
		.about-me p { 
			font-size: 15px;
			font-weight: normal;
			line-height: 1.5;
			color: rgb(46,46,46);
			text-align: center;
			margin: 10px auto;
			padding: 10px 40px 10px 40px;
		}
		
		.resume a{
			margin: 20px 0 20px 0;
		}

		#resume h2 {
			font-size: 30px; 
			font-weight: bold;
			line-height: 1;
		}

		.resume h3 {
			font-size: 17px; 
			font-weight: bold;
			line-height: 1;
			margin-left: 15px;
		}

		.resume h4 {
			font-size: 16px; 
			font-weight: normal;
			line-height: 1;
			margin: 0px 0px 10px 30px;
		}

		.resume p {
			font-size: 14px; 
			font-weight: normal;
			line-height: 1.5;
			margin: 0px 0px 0px 30px;
			padding: 0 10px 5px 0;
		}
		
		.title {
			margin-bottom: 15px;
			margin-top: 35px;
		}

		#contact { 
			width: 100%;
			height: auto;
			background:#222;
			margin: 20px auto 0 auto;
			padding: 0px 0px 20px 0px; 
			float: left;		
		}
		.contact-header { 
			padding-bottom: 10px;
		}

		.contact-header h2 { 
			/*border:solid 1px red;*/
			font-size: 36px;
			margin: 50px 0px 0px 5px;
			padding: 10px 0px 40px 20px; 
		}

		#contact input, #contact textarea {
			width: 50%;
			font-size: 1.0em; 
			padding: 12px 0 12px 0;
			background: #555555;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
		}

		.collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}

    }

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width from 350 to 519 */

    @media only screen and (min-width: 349px) and (max-width: 519px) {
        .container { width: 300px;}
        
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

		.home h3 { 
			border: solid red 1px;
			margin-top: 45%; 
			font-size: 150%;  
			line-height: 24px;
		}
		
		.position {
			font-size: 14px; 
			padding: 0px 5px 0px 5px;
		 }

		.home-background .bulb-light{
			left: 35%;
			top: 42%;
		}

		.home-background .bulb-light img{
			max-width: 256px;
			width: 45%;
		}

		.about-me h2 { 
			font-size: 30px; 		
			line-height: 1;
			font-weight: bold;
			padding: 0px 40px 0px 40px;
		}

		.about-me h3 { 
			font-size: 15px; 
			font-weight: bold; 
			line-height: 1;
			padding: 0px 40px 0px 40px;
		}	
	
		.about-me p { 
			font-size: 15px;
			font-weight: normal;
			line-height: 1.5;
			color: rgb(46,46,46);
			text-align: center;
			margin: 10px auto;
			padding: 10px 40px 10px 40px;
		}
		
		.resume a{
			margin: 20px 0 20px 0;
		}

		#resume h2 {
			font-size: 30px; 
			font-weight: bold;
			line-height: 1;
		}

		.resume h3 {
			font-size: 17px; 
			font-weight: bold;
			line-height: 1;
			margin-left: 15px;
		}

		.resume h4 {
			font-size: 16px; 
			font-weight: normal;
			line-height: 1;
			margin: 0px 0px 10px 30px;
		}

		.resume p {
			font-size: 14px; 
			font-weight: normal;
			line-height: 1.5;
			margin: 0px 0px 0px 30px;
			padding: 0 10px 5px 0;
		}
		
		.title {
			margin-bottom: 15px;
			margin-top: 35px;
		}

		#contact { 
			width: 100%;
			height: auto;
			background:#222;
			margin: 20px auto 0 auto;
			padding: 0px 0px 20px 0px; 
			float: left;		
		}
		.contact-header { 
			padding-bottom: 10px;
		}

		.contact-header h2 { 
			/*border:solid 1px red;*/
			font-size: 36px;
			margin: 50px 0px 0px 5px;
			padding: 10px 0px 40px 20px; 
		}

		#contact input, #contact textarea {
			width: 50%;
			font-size: 1.0em; 
			padding: 12px 0 12px 0;
			background: #555555;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
		}

		.collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}

/*		#nav { 
			position: absolute;
		}
		
		.bottom {
			height: 0; 
			width: 0;  
			min-height: 0;
		}*/
    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 520px */

    @media only screen and (min-width: 520px) and (max-width: 767px) {
    	.home h3 { 
			margin-top: 35%; 
			font-size: 60px;  
			line-height: auto;
		}
		
		.position {
			font-size: 18px; 
			padding: 0px 5px 0px 5px;
		 }

		.home-background .bulb-light{
			left: 30%;
			top: 50%;
		}

		.home-background .bulb-light img{
			max-width: 256px;
			width: 40%;
		}
    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
			
		.home h3 { 
			margin-top: 16%; 
			line-height: 40px;
			font-size: 60px;  
			}	
			
		.collapse{
			display:block;
			}
			
		.collapse + input{
			display:none;
			}
			
		.collapse + input + *{
			display:none;
			}
			
		.collapse+ input:checked + *{
			display:block;
			}


		.home h3 { 
			margin-top: 35%; 
			font-size: 34.4px;  
			line-height: auto;
		}
		
		.position {
			font-size: 18px; 
			padding: 0px 5px 0px 5px;
		 }

		.home-background .bulb-light{
			left: 35%;
			top: 45%;
		}

		.home-background .bulb-light img{
			max-width: 256px;
			width: 50%;
		}
/*		#nav { 
			position: absolute;
			}
			
		.bottom {
			height: 0; 
			width: 0;  
			min-height: 0;
		}*/
	}
	
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
     }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
